<html>
    <head>
        <title>Named Entities</title>
    </head>
    <body>
        <h1 id="headaing" name="data-test-heading">
            Text Entities Finder 
        </h1>
        <input id="input-text" name="data-test-input" class="form-control">
        <button type="button" id="find" name="data-test-submit" class="btn btn-md btn-secondary"> Find Entities</button>

        <table id="ner-table" name="data-test-ner-table" class="table table-border">
            <thead class="thead dark">
            </thead>
            <tr>
                <th>Entity</th>
                <th>Type</th>
            </tr>

        </table>
    </body>
</html>